
/* Background */
.otp-container {
    -fx-background-color: #1a1a1a;
}

/* Title */
.otp-title {
    -fx-text-fill: #00ffcc;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

/* OTP Input Boxes */
.otp-box {
    -fx-background-color: #000000;
    -fx-text-fill: #00ffcc;
    -fx-font-size: 18px;
    -fx-font-family: "Courier New";
    -fx-alignment: center;

    -fx-border-color: #00ffcc;
    -fx-border-width: 2px;

    -fx-background-radius: 0;
    -fx-border-radius: 0;
}

/* Button */
.otp-button {
    -fx-background-color: #00ffcc;
    -fx-text-fill: #000000;
    -fx-font-family: "Courier New";
    -fx-font-size: 14px;
    -fx-font-weight: bold;

    -fx-background-radius: 0;
    -fx-border-radius: 0;
}

.otp-button:hover {
    -fx-background-color: #00cc99;
}
